.create {
  text-align: center;
}

.create form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create label {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .create input[type="text"],
  .create textarea {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    border: 1px solid lightgray;
  }
  
.create button {
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(14, 2, 2);
}
.create button:hover{
  background-color: grey;
  color:white;
  
}