*{ margin: 0%; }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: blueviolet;
    color: #fff;
 
    
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  .navbar-search button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar-app-name {
    font-size: 40px;
  }

  .Create-Recipe:hover {
    color: white;
    background-color: #333;

  }
  